{{ "<!-- DEMO -->" | safeHTML }}
<section class="bg-primary" id="demo">
    <div class="container-fluid">
		<div class="row">
			<div id="desktop" class="demo-icon desktop col-md-6">
			</div>
			<div id="tablet" class="demo-icon tablet col-md-6">
			</div>			
		</div>
		
		<div class="row">
			<div id="server" class="demo-icon server center-block">
			</div>
		</div>
		
		<div class="row">
			<div id="phone" class="demo-icon phone">
			</div>
			<div id="laptop" class="demo-icon laptop">
			</div>
		</div>
		
		<div class="row">
			<input type="text" id="data-input" class="center-block" placeholder="Type something here....">
		</div>
    </div>
</section>