<section class="no-padding" id="access">
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>{{ with .Site.Params.aside.headline }}{{ . }}{{ end }}</h2>
                <a target="_blank" href="{{ with .Site.Params.aside.button.link }}{{ . }}{{ end }}" class="btn btn-default btn-xl wow tada">{{ with .Site.Params.aside.button.text }}{{ . }}{{ end }}</a>
            </div>
        </div>
    </aside>

    <!--<div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.projects }}
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal{{ .modalID }}" target="_blank" class="portfolio-box portfolio-link" data-toggle="modal">
                    <img src="img/portfolio/{{ .img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ .category }}
                            </div>
                            <div class="project-name">
                                {{ .title }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>-->
</section>
